/* colors */

* {
  al:      #00000000;
  bg:      #c4d8edff;
  se:      #475C7Bff;
  fg:      #76aee0ff;
  ac:      #6DD8FDff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
